body {
  margin: 0px !important;
  padding: 0px !important;
  font-family: Montserrat !important;
  color: #fff !important;
  background-color: #141313 !important;
}
input:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent;
}
a {
  text-decoration: none !important;
  color: #fff !important;
}

header {
  color: white;
}
.header-part {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.fixed-top {
  z-index: 9;
}

.header-wrapper {
  background-color: #14131388;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

@media (max-width: 425px) {
  .small-logo {
    width: 126px !important;
    height: 24px !important;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .number-wrapper {
    display: none !important;
  }
}
@media (max-width: 1024px) {
  .number {
    display: none !important;
  }
  .search-container {
    display: none !important;
  }
  .geo {
    display: none !important;
  }
  .profile {
    width: 15px !important;
  }
  .small-logo {
    width: 200px !important;
  }
  .phone-icon img {
    width: 15px;
  }
  .sidebar {
    display: none !important;
  }
  body {
    padding-top: 65px !important;
  }
}

@media (min-width: 1025px) {
  body {
    padding-top: 144px !important;
  }
  .burger-menu {
    display: none;
  }
}
.bullet {
  width: 1.5rem;
  margin-right: 10px;
}
.nav-sidebar {
  margin-top: 20px;
  font-size: 2rem;
}
.sidebar {
  margin-bottom: 20px;
}
.profile {
  margin-right: 10px;
}
.search-container {
  position: relative;
  width: 40px;
  height: 32px;
  overflow: hidden;
  transition: width 0.3s ease, background-color 0.3s ease;
  border-radius: 20px;
  background-color: transparent;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: flex-start;
  margin-right: 10px;
}

.search-container:hover,
.search-container.active {
  width: 155px;
  background-color: #f0f0f0;
}
.offcanvas .search-container:hover,
.offcanvas .search-container.active {
  width: 100%;
  background-color: #f0f0f0;
}
.search-input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background: none;
  position: relative;
  left: 0;
  top: 0;
  font-size: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  margin-left: 5px;
}

.search-container:hover .search-input,
.search-container.active .search-input {
  opacity: 1;
  margin-right: -5px;
}

.search-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin-right: -5px;
  margin-left: 5px;
  transition: opacity 0.3s ease;
  position: relative;
}
.search-icon-side {
  margin-top: 5px;
}

#search-icon-white {
  display: block;
}

#search-icon-black {
  display: none;
}

.search-container:hover #search-icon-white,
.search-container.active #search-icon-white {
  display: none;
}

.search-container:hover #search-icon-black,
.search-container.active #search-icon-black {
  display: block;
}

.side-search {
  display: block !important;
}

.offcanvas-header {
  margin-bottom: 30px;
}

#geo-sidebar {
  content: url(/images/geo.svg);
}

.number-side,
.geo-side {
  font-size: 1.5rem;
}
.icon-sidebar {
  width: 1.5rem;
  margin-right: 10px;
}
.geo-wrapper-side {
  margin-bottom: 20px !important;
}

.geo {
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.offcanvas {
  color: white;
  background-color: #14131388;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.navigation {
  margin-top: 2.5rem;
}
